@charset "utf-8";

/*웹뷰*/
.panel,.m_search,.m_con04{display: none;}


@media screen and (max-width:786px){
	/*웹공통*/
	body{min-width: auto;}
	.inner{width: auto;}
	
	/*모바일에서만 안보임*/
	.gnb,.util,.main_con02,.main_con03 p,.con03_search,.main_con04,.con05_list p,.f_logo,.p_top{display: none;}
	
	/*모바일에서만 보임*/
	.panel,.m_search,.m_con04{display: block;}
	
	/*헤더*/
	#header{
		height: auto;
		margin: 10px 20px;
	}
	#header h1{
		background-size: 400px;
		width: 70px;
		height: 28px;
		background-position: 0 0;
		position: static;
	}
	
	.panel{
		width: 16px;
		height: 16px;
		background: url(../images/sp_com.png) no-repeat;
		background-size: 400px;
		background-position: -227px -98px;
		text-indent: -9999px;
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -8px;
		
	}
	.panel a{
		display: block;
		height: 100%;
}
	
	/*메인슬라이더*/
	.main_slider{
		margin: 0;
		height: auto;
	}
	.main_txt{
		padding: 45% 0;
	}
	.main_txt h2{
		font-size: 14px;
		font-weight: normal;
	}
	.main_txt p{font-size: 11px;}
	
	.slider_btn{
		width: 12px;
		height: 23px;
		background-size: 400px;
		background-position: -64px -30px;
		margin-top: -11px;
	}
	.right_btn{
		background-position: -79px -30px;
	}
	
	/*메인컨텐츠01*/

	.main_con01{padding: 20px 0;}
	.main_con01 ul{
		display: block;
		overflow: hidden;
	}
	.main_con01 li{
		margin: 0px;
		width: 33.33%;
		margin: 10px 0;
	}
	.main_con01 li:hover span{background-position-y:-92px;}
	.main_con01 li span{
		width: 33px;
		height: 33px;
		background-size: 400px;
		margin: 0 auto;
	}

	.con01_icon01{background-position: -1px -57px;}
	.con01_icon02{background-position: -37px -57px;}
	.con01_icon03{background-position: -74px -57px;}
	.con01_icon04{background-position: -109px -57px;}
	.con01_icon05{background-position: -145px -57px;}
	.con01_icon06{background-position: -181px -57px;}
	
	/*메인컨텐츠03*/
	.main_con03{
		padding: 0 10px;
	}

	.main_con03>div{
		width: calc(50% - 5px);
		height: auto;
		background-size: cover;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	
	.m_search{background-color: #F1EFEC;}
	
	.main_con03>div:nth-child(2n){margin-right: 0;}
	.main_con03>div h3{
		padding: 45% 0;
		font-size: 15px;
	}

	/*모바일메인컨텐츠04*/
	.m_con04{}
	.m_con04 dl{
		background-color: #f2f0ed;
		overflow: hidden;
		margin: 0 10px;
		margin-bottom: 10px;
		height: 45px;
		line-height: 45px;
		font-size: 13px;
		
	}
	.m_con04 dt{
		float: left;
		width: 20%;
		text-align: center;
		color: #2d5b79;
		font-weight: bold;
	}
	.m_con04 dd{
		float: left;
		width: 70%;
	}
	.m_con04 dd a{
		display: block;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	/*메인컨텐츠05*/

	.main_con05{
		padding: 10px;
		padding-top: 20px;
	}

	.con05_list{}
	.con05_list li{
		width: calc(50% - 5px);
		height: auto;
		margin-right: 10px;
		margin-bottom: 10px;
		background-size: 100% 100%;	
	}
	.con05_list li:nth-child(2n){margin-right: 0;}

	.con05_list h3{
		font-size: 15px;
		padding: 60% 0 20% 0;
	}
	
	/*푸터*/
	
	#footer{
		text-align: center;
	}

	.f_top{padding: 20px 0;}

	.f_menu{
		width: 100%;
		text-align: center;
		line-height: normal;
		margin-bottom: 10px;
	}
	.f_menu li{
		display: inline-block;
		float: none;
	}

	.f_menu li:last-child::after{display: none;}

	.cs_family{width: 100%;}
	.cs_box,.family_box{
		float: none;
		display: inline-block;
	}
	.cs_box{
		width: 50%;
		box-sizing: border-box;
	}
	.cs_box span{font-weight: normal;}
	.cs_box .num{font-size: 13px;}
	.family_box{
		width: 30%;
		margin-left: 5px;
		padding: 0 10px 0 5px;
	}

	.f_bottom{padding: 20px 0;}
	.f_bottom p{margin-top: 0;}
	
}
